body {
  background-image: url("../images/vecteezy_still-life-of-assorted-vegetables_1853269.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.appName {
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cormorant', serif;
  font-weight: 500;
  font-size: 150px;
  color: #FFFFF6;
  padding-top: 100px;
  margin: 0px;
}

.appDescript {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Cormorant', serif;
  font-size: 39px;
  color: #013220;
  padding: 20px;
  margin: 20px;
}

.startButton {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.start {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #353535;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 10px;
  padding:15px;
  min-height:30px; 
  min-width: 120px;
}

.start:hover {
  background-color:#2E8B57;
  transition: 0.7s;
}

.hide {
  display: none;
}

.dietSelect h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Cormorant', serif;
  font-size: 50px;
  padding-top: 100px;
  color: #FFFFF1;;
}

.dietSelect ul {
  list-style-type: none;
}

.Meat {
  align-items: center;
  justify-content: center; 
  background-color: #353535;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding:15px;
  margin: 35px;
  min-height:30px; 
  min-width: 120px;
}

.Vego {
  align-items: center;
  justify-content: center; 
  background-color: #353535;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding:15px;
  margin: 35px;
  min-height:30px; 
  min-width: 120px;
}

.Vegan {
  align-items: center;
  justify-content: center; 
  background-color: #353535;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding:15px;
  margin: 35px;
  min-height:30px; 
  min-width: 120px;
}

.GF {
  align-items: center;
  justify-content: center; 
  background-color: #353535;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding:15px;
  margin: 35px;
  min-height:30px; 
  min-width: 120px;
}

.Meat:hover {
  background-color:#2E8B57;
  transition: 0.7s;
}

.Vego:hover {
  background-color:#2E8B57;
  transition: 0.7s;
}

.Vegan:hover {
  background-color:#2E8B57;
  transition: 0.7s;
}

.GF:hover {
  background-color:#2E8B57;
  transition: 0.7s;
}

.dietSelect {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

ul {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.weekday {
    font-weight: bold;
    font-size: 200%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
  }

  .day {
    display: flex;
    justify-content: space-evenly;
    font-family: serif;
  }

  h3 {
    font-weight: bold;
    font-family: 'Cormorant', serif;
    padding: 20px;
    font-size: 70px;
    display: flex;
    justify-content: center;
  }

  h2 {
    font-weight: bold;
    font-family: 'Cormorant', serif;
    padding: 20px;
    padding-left: 30px;
    font-size: 70px;
    display: flex;
    justify-content: center;
  }
 
 
img.meal-image {
 width: 70%; 
 height: 40%; 
}


.planName {
  font-family: 'Cormorant', serif;
  font-size: 100px;
  color: #2E8B57;
  display: flex;
  justify-content: center;
}

.listName {
  font-family: 'Cormorant', serif;
  font-size: 100px;
  color: #2E8B57;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.cartName {
  font-family: 'Cormorant', serif;
  font-size: 100px;
  color: #2E8B57;
  display: flex;
  justify-content: center;
  padding: 50px;
}


.recipe h1 {
  display: flex;
  justify-content: center;
  font-family: 'Cormorant', serif;
  font-size: 100px;
  color: #2E8B57;
  padding: 20px;

}
 /* Style button container with display properties */
 .btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh; /* Set height to 100% of viewport height for vertical centering */
  margin: 20px;
}

.button {
  display: flex;
  justify-content: center; 
  background-color: #353535;
  color: white;
  font-family:sans-serif;
  border: none;
  border-radius: 10px;
  padding:15px;
  min-height:30px; 
  min-width: 120px;

}

.button:hover {
  background-color:#2E8B57;
  transition: 0.7s;
}

.button1:hover {
  background-color:#2E8B57;
  transition: 0.7s;
}

#shoppingList ul {
  list-style: none; 
  padding: 5px; 
  font-family:'Arial';
  font-size: 20px;
  width: 70%; 
  margin: 0 auto; 
  text-align: center; 
}

#shoppingList ul li {
  margin-bottom: 5px;
  font-family:'Arial'; 
}

#list p {
  padding: 5px; 
  font-family:'Arial';
  font-size: 30px;
  width: 70%; 
  margin: 0 auto; 
  text-align: center; 
  padding-bottom: 50px;
}

#mealIngredients {
  list-style-type: style disc;
  font-family:Arial;
  padding:30px;
}

#mealInstructions {
  list-style-type: style disc;
  font-family:Arial;
  padding:30px;
  margin-bottom: 20px;
}

#shoppingCart {
  align-content: left;
  font-family:'Cormorant', serif;
  font-size: 30px;
  border: none;
  border-radius: 10px;
}

.button1 {
  display: flex;
  justify-content: center; 
  background-color: #353535;
  color: white;
  font-family:sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding:15px;
  min-height:30px; 
  min-width: 120px;

}

#savedList ul li {
  list-style: none; 
  width: 250px;
  font-family:'Arial';
  font-size: 20px;
  width: 70%; 
  margin: 0 auto; 
  text-align: center; 
  background-color: #FFFFF6;

}